.gui-wrapper {
  display: flex;
  background: #fcf9ff;
  padding: 10px;
  width: 200px;
  position: absolute;
  right: 30px;
  top: 20%;
  flex-direction: column;
  border-radius: 8px;
  font-family: sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.gui-wrapper h1 {
  font-size: 22px;
  text-align: center;
}

.gui-wrapper #title {
  width: 100%;
  border-bottom: solid 2px lightblue;	
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color:#fcf9ff;
}

.gui-wrapper #text {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  line-height: 1.7;
  background-color: #fcf9ff;
  background-image: url('../images/line.svg');
  background-attachment: scroll;
}